<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/directory/{userId}/update(userId=${user.id})}" method="post" th:object="${directory}">
    <label for="feeling">Чувство:
        <input id="feeling" type="text" name="feeling" th:value="${feeling}">
    </label>
    <br>
    <label for="exampleSituation">Ситуация:
        <input id="exampleSituation" type="text" name="exampleSituation" th:value="${exampleSituation}">
    </label>
    <br/>
    <label for="bodilySensations">Ощущения:
        <input id="bodilySensations" type="text" name="bodilySensations" th:value="${bodilySensations}">
    </label>
    <br/>
    <label for="thoughts">Мысли:
        <input id="thoughts" type="text" name="thoughts" th:value="${thoughts}">
    </label>
    <br/>
    <label for="behavior">Поведение:
        <input id="behavior" type="text" name="behavior" th:value="${behavior}">
    </label>
    <br/>
    <button type="submit">Update</button>
</form>
</body>
</html>